# Widget sourced exclusively from npm
VITE_NPM_WIDGET_VERSION=0.7.1
VITE_WIDGET_DEBUG=false
VITE_PROMPT_ENABLED=false
VITE_DEFAULT_API_ENDPOINT=http://localhost:3000
VITE_GITHUB_OWNER=schmitech
VITE_GITHUB_REPO=orbit
VITE_UNAVAILABLE_MSG=false
VITE_ENDPOINT_FIELD_ENABLED=false
VITE_API_CONFIG_ENABLED=false
